
.cardContainer {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10%;
    width: 300px;
    box-shadow: inset 2px 2px 5px black;
    position: relative;
    height: fit-content;
    background-color: rgb(214, 214, 214);
    margin: 0 6px 0 6px;
}

.inactive {
    background-color: rgb(135, 135, 135);
}

hr {
    margin: 0;
}

.cardHeader {
    display: flex;
}

.cardTitle {
    font-size: clamp(0.8em, 1em, 1.2em);
    width: fit-content;
    margin: 2% 0 0 5%;
}

.cardBody {
    overflow: hidden;
    color: black;
}

.extender {
    position: absolute;
    right: 1%;
    top: 3%;
    border: none;
    background-color: transparent;
    font-size: medium;
}

.extender:hover {
    color: grey;
}

.extender:active {
    font-size: clamp(0.8em, 0.9em, 1em);
}

#expand-contract {
    margin-top: -35%;
    transition: all 1s ease;
}

#expand-contract.expanded {
    margin-top: 0;
}

#list {
    list-style-type: none;
    text-align: start;
    word-spacing: 1rem;
}